@media only screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
        padding: 2px;
    }
    .left {
        width: 100%;
        position: relative;
    }
    .left .l-tag{
        font-size: 50px;
    }
    .logopart{
        position: relative;
    }
    .logo{
        margin-top: 5%;
        margin-left: auto;
    }
    .right{
        width: 100%;
        top: 0;
    }
    #About{
        width: 100%;
        margin: auto;
        height: 45%;
        margin-bottom: 5%;
    } 
    #Vision{
        height: 25%;
        width: 100%;
        margin: auto;
    }
    #Mission{
        width: 100%;
        margin: auto;
        height: 52%;
    }
}